/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/***********************************
   Lägg till ny styling nedanför:
***********************************/
body {
  font-family: "Noto Sans", sans-serif;
  background-color: #ecffeb;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  background-repeat: repeat;
}

main {
  width: 70%;
  margin: 3rem 4rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: space-evenly;
  align-items: center;
}

.top-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 2rem;
  padding: 2px 2px 10px;
}

.top-bar img {
  height: 2rem;
  padding-top: 0.2rem;
}

#star {
  color: yellow;
  text-shadow: 2px 1px 2px darkslategray;
  transition: all 150ms ease-in;
  opacity: 1;
}

#heyscore-star {
  color: orange;
  text-shadow: 2px 1px 2px darkslategray;
  transition: all 250ms ease-in;
  opacity: 1;
}

#points {
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
}

#hiscore-points {
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
}

#points:focus {
  outline: none;
}

.red {
  color: red;
  text-shadow: 2px 1px 2px darkslategray;
  transition: all 50ms ease-in;
}

.gray {
  color: darkslategrey;
}

.time {
  text-align: center;
  border: 1px solid yellow;
  /* width: 320px; */
  background-color: #27a300;
  padding: 0;
  height: 1rem;
  margin: 15px auto 10px;
  border-radius: 10px;
}

.game {
  background-color: #ffebeb;
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  width: 100%;
}

.quiz-box {
  padding: 0 20px;
}

.question {
  text-align: center;
  line-height: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  background-color: white;
  /* width: 100%; */
  height: 10vh;
  max-height: 100px;
  min-height: 100px;
  max-width: 600px;
  margin: 10px auto 0;
  border-radius: 15px;
  padding: 60px 10px 60px;
  box-shadow: 0 0 10px 2px;
}

.answer-buttons {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  gap: 10px 20px;
}

:root {
  --button-bgcolor: #fff;
}

.btn {
  background-color: var(--button-bgcolor);
  color: #222;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid #222;
  padding: 40px;
  margin: 10px 0;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 0 6px 0.5px;
  transition: all 0.4s;
}

.info-bar {
  width: 5rem;
  height: 4.1rem;
  border: 2px pink solid;
  text-align: center;
  border-radius: 10px;
  background-color: #fdfdf0;
}

.links a {
  text-decoration: none;
  font-style: italic;
  font-size: 0.8rem;
  color: #000000;
}

.menu-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  top: 300px;
  height: 100px;
  width: 200px;
  background-color: #27a300;
  color: #000000;
  text-align: center;
  border: 0.5rem #ff0000 dotted;
  border-radius: 15px;
  box-shadow: 5px 5px 7px black;
}

.menu-greeting {
  color: red;
  font-size: 2rem;
  text-shadow: 3px 3px 3px black;
  font-weight: 800;
}

.menu-btn {
  cursor: pointer;
  border: 0;
  font-weight: 800;
  text-shadow: 1px 1px 2px black;
  background-color: #005C00;
  color: gold;
  border-radius: 15px;
  width: 60%;
  box-shadow: 2px 2px 4px #222;
}

/* mobil */
@media (max-width: 480px) {
  body {
    background-color: #ffebeb;
  }

  .question {
    height: 250px;
    padding: 20px 10px;
    display: flex;
    align-items: center;
  }

  .top-bar {
    display: flex;
    flex-wrap: nowrap;
  }

  .game {
    width: 100%;
    height: 100vh;
    margin: 0;
  }

  .answer-buttons {
    display: flex;
    flex-direction: column;
  }

  .btn {
    padding: 0.3rem;
    height: 8vh;
  }

  main {
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
  }

  .menu-container {
    height: 50vh;
    top: 25vh
  }

  .menu-btn {
    height: 3rem;
  }

  .info-bar {
    width: 95%;
    height: 1.1rem;
  }

  .links ul {
    display: flex;
    justify-content: space-evenly;
  }
}


/* surfplatta */
@media (min-width: 768px) and (max-width: 1023px) {
	/* IPAD PRO main {
		width:90%;
		height: 80%;
		margin: 9rem 1rem;
		display: flex;
		flex-direction: column;
		background-color: white;
		justify-content: center;
		align-items: center;
	  } */
	  main {
		width:90%;
		height: 85%;
		margin: 5rem 1rem;
		display: flex;
		flex-direction: column;
		background-color: white;
		justify-content: center;
		align-items: center;
	  }
	.game{
		width: 80vw;
		max-width: 80vw;
		height: 90vh;
		margin: 10px;
    }
	.question{
	    height: 10vh;
		max-height: 100px;
		min-height: 100px;
		width: 70.5vw;
		max-width: 80vw;	  
	}  
	.top-bar {
		margin-right: 1vw;
		margin-left: 1vw;
	}
	.quiz-box {
		width: 90%;
		height: 90%;
		margin: auto;
		padding: 20px 0;
	}
	.answer-buttons {
		margin-right: 1vw;
		margin-top: 3vh;
	}
	.menu-container {
		height: 20vh;
		width: 40vw;
		top: 35vh
    }
	.menu-btn{
		height: 20%;

	}
	.info-bar {
		width: 40rem;
		height: 4.1rem;
		margin-top: 4vh;
		border: 2px pink solid;
		text-align: center;
		border-radius: 10px;
		background-color: #fdfdf0;
	  }
	  .links ul{
		display:flex;
		flex-direction: row;
		justify-content: space-around;
		align-content: stretch;
		margin-top: 1.5vh;
	  }
	  .links a{
		font-size: 1.2rem;
	  }
	.btn{
		font-size: 18px;
		padding: 50px
	}
	.time{
		margin-top: 3vh;
	}
	/* .btn {
		background-color: var(--button-bgcolor);
		color: #222;
		font-weight: 500;
		font-size: 16px;
		border: 1px solid #222;
		padding: 40px;
		margin: 10px 0;
		text-align: center;
		border-radius: 15px;
		cursor: pointer;
		box-shadow: 0 0 6px 0.5px;
		transition: all 0.4s;
	  } */

}
/* IPAD PRO*/
/* @media (min-width: 1024px) and (max-height: 1366px){
	main {
		width:90%;
		height: 80%;
		margin: 9rem 1rem;
		display: flex;
		flex-direction: column;
		background-color: white;
		justify-content: center;
		align-items: center;
	  }
	  .game{
		width: 90vw;
		max-width: 90vw;
		height: 90vh;
		margin: 10px;
    }
	.question{
	    height: 10vh;
		max-height: 100px;
		min-height: 100px;
		width: 70.5vw;
		max-width: 80vw;	  
	}  
	.top-bar {
		margin-right: 1vw;
		margin-left: 1vw;
	}
	.quiz-box {
		width: 90%;
		height: 90%;
		margin: auto;
		padding: 20px 0;
	}
	.answer-buttons {
		margin-right: 1vw;
		margin-top: 3vh;
	}
	.menu-container {
		height: 20vh;
		width: 40vw;
		top: 35vh
    }
	.menu-btn{
		height: 20%;

	}
	.info-bar {
		width: 40rem;
		height: 4.1rem;
		margin-top: 4vh;
		border: 2px pink solid;
		text-align: center;
		border-radius: 10px;
		background-color: #fdfdf0;
	  }
	  .links ul{
		display:flex;
		flex-direction: row;
		justify-content: space-around;
		align-content: stretch;
		margin-top: 1.5vh;
	  }
	  .links a{
		font-size: 1.2rem;
	  }
	.btn{
		font-size: 18px;
		padding: 50px
	}
	.time{
		margin-top: 3vh;
	}

} */








@media screen and (min-width: 1025px) {
  body {
    margin-top: -45px;
    margin-left: -1vw;
    margin-right: -1vw;
  }

  main {
    max-width: 800px;
    min-height: 690px;
    max-height: 820px;
    width: 100%;
    height: 99%;
    border-radius: 3%;
    border: #27a300 solid 2px;
  }

  .top-bar {
    margin-right: 1vw;
    margin-left: 1vw;
  }

  .quiz-box {
    width: 90%;
    height: 90%;
    margin: auto;
    padding: 20px 0;
  }

  .answer-buttons {
    margin-right: 1vw;
  }

  .menu-container {
    height: 200px;
    width: 400px;
  }
}

@media (hover: hover) {
  .links a:hover {
    color: red;
  }

  .btn:hover {
    background-color: #888;
  }

  .menu-btn:hover {
    color: yellow;
  }
}