*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***********************************
   Lägg till ny styling nedanför:
***********************************/
body {
	font-family: 'Noto Sans', sans-serif;
	background-color: #ecffeb;
}

.game div {
	width: 70%;
	margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: white;
}

.palette div {
	display: flex;
	flex-direction: row;
}
.palette span {
	min-width: 70px;
	min-height: 50px;
	color: #ecffeb;
	text-align: center;
	padding: 10px;
	border-radius: 15%;
	box-sizing: border-box;
	display: inline;
}

.palette span:nth-child(1) {
	background-color: #5c0000;
}
.palette span:nth-child(1) {
	background-color: #751717;
}
.palette span:nth-child(2) {
	background-color: #ba0c0c;
}
.palette span:nth-child(3) {
	background-color: #ff0000;
}
.palette span:nth-child(4) {
	background-color: #27a300;
}
.palette span:nth-child(5) {
	background-color: #2a850e;
}
.palette span:nth-child(6) {
	background-color: #2d661b;
}
.palette span:nth-child(7) {
	background-color: #005c00;
}
.palette span:nth-child(8) {
	background-color: #000000;
}
