/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/***********************************
   Lägg till ny styling nedanför:
***********************************/
body {
  font-family: "Noto Sans", sans-serif;
  background-color: #ecffeb;
  display: flex;
  justify-content: center;
}

main {
  width: 70%;
  margin: 10px auto;
  display: flex;
  background-color: white;
  justify-content: center;
}

.game {
  display: flex;
  flex-direction: column;
}

.palette {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.palette span {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  color: #ecffeb;
  text-align: center;
  padding: 18;
  border-radius: 5px;
}

.palette span:nth-child(1) {
  background-color: #5c0000;
}
.palette span:nth-child(1) {
  background-color: #751717;
}
.palette span:nth-child(2) {
  background-color: #ba0c0c;
}
.palette span:nth-child(3) {
  background-color: #ff0000;
}
.palette span:nth-child(4) {
  background-color: #27a300;
}
.palette span:nth-child(5) {
  background-color: #2a850e;
}
.palette span:nth-child(6) {
  background-color: #2d661b;
}
.palette span:nth-child(7) {
  background-color: #005c00;
}
.palette span:nth-child(8) {
  background-color: #000000;
}

.top-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 24px;
  padding: 2px;
}

.top-bar img {
  width: 24px;
  height: 24px;
  padding: 2px;
}

#star {
  color: #005c00;
}

#star:focus {
  color: yellow;
  transition: color 1s ease-in;
}

#points {
  color: black;
}
.red {
  color: red;
}
.gray {
  color: darkslategrey;
}

.time {
  border: 1px solid yellow;
  /* width: 320px; */
  background-color: #27a300;
  padding: 0;
  margin: 15px auto 10px;
  border-radius: 10px;
}

.time-bar {
  width: 100%;
}

/************ nelly ***********/
.game {
  background: rgb(230, 230, 230);
  width: 60%;
  max-width: 600px;
  margin: 60px auto 0;
  border-radius: 10px;
  padding: 10px 50px 10px;
  font-family: "Courier New", Courier, monospace;
}
.quiz-box {
  padding: 20px 0;
}
.question {
  text-align: center;
  font-size: 23px;
  background: rgb(199, 199, 199);
  width: 100%;
  max-width: 600px;
  margin: 10px auto 0;
  border-radius: 15px;
  padding: 60px 0 60px;
  box-shadow: 0 0 10px 2px;
}
.answer-buttons {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px 20px;
  margin: 10px 0;
}
.btn {
  background: #fff;
  color: #222;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid #222;
  padding: 40px;
  margin: 10px 0;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 0 6px 0.5px;
}
.btn:hover {
  background: #222;
  color: #fff;
}
